---
http_interactions:
- request:
    method: get
    uri: http://logger.cluster%5Fname.private%5Fdomain%5Fname/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"must":[{"match":{"kubernetes.labels.busbar_io/app":"some_app"}},{"match":{"kubernetes.labels.busbar_io/component":"web"}},{"match":{"kubernetes.labels.busbar_io/environment":"production"}}]}},"_source":["log"],"size":"10","sort":[{"@timestamp":{"order":"desc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":8523,"timed_out":false,"_shards":{"total":36,"successful":35,"failed":1,"failures":[{"shard":0,"index":".kibana","node":"4P8DvlAkQQG646B-bSz3Lg","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"89_pUobPS56iJSIi3VKGaw","index":".kibana"}}]},"hits":{"total":298622804,"max_score":null,"hits":[{"_index":"logstash-2017.05.22","_type":"access_log","_id":"AVww-z6zeVIxoQh4V0Vk","_score":null,"_source":{"log":"This is the content of the log\n"},"sort":[1495470385000]},{"_index":"logstash-2017.05.22","_type":"access_log","_id":"AVww-z6zeVIxoQh4V0Vw","_score":null,"_source":{"log":"This is the content of the log\n"},"sort":[1495470385000]},{"_index":"logstash-2017.05.22","_type":"access_log","_id":"AVww-z6zeVIxoQh4V0V2","_score":null,"_source":{"log":"This is the content of the log\n"},"sort":[1495470385000]},{"_index":"logstash-2017.05.22","_type":"access_log","_id":"AVww-z6zeVIxoQh4V0V4","_score":nul[...]
